<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>뇌졸중 자가진단 서비스</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="freehtml5.co"/>

    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="../static/css/flexslider.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Modernizr JS -->
    <script src="../static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">

    <div class="container">
        <div id="fh5co-intro">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 col-md-pull-2">
                    <h2>문의하기</h2>
                </div>
            </div>
        </div>

        <div id="fh4co-contact">
            <div class="row">
                <div class="col-md-4 animate-box">
                    <h3>문의 정보</h3>
                    <ul class="contact-info">
                        <li><i class="icon-location4"></i>순천향대학교 의료IT공학과 20185119 이재헌</li>
                        <li><i class="icon-phone3"></i>shmom467@hanmail.net</li>
                        <li><i class="icon-location3"></i><a href="이재헌.kr">Github</a></li>
                        <li><i class="icon-globe2"></i>충청남도 아산시 신창면 순천향로 22</li>
                    </ul>
                </div>
            <form method="POST" action="#">
                <div class="col-md-8 animate-box">
                    <div class="form-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="이름" name="name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="이메일" name="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="제목" name="title">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="문의 내용" name="question"
                                        style="width: 100%; height: 300px;">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="문의 보내기" class="btn btn-primary btn-modify">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form></div>
        </div>
    </div><!-- END container -->


    <div class="container">
        <footer id="fh5co-footer" role="contentinfo">
            <div class="row">
                <div class="col-md-3 fh5co-widget">
                    <h4>주의 사항</h4>
                    <p>본 서비스는 정보 참조 용도로 활용 가능하며, 정확한 개인 증상의 파악은 의료 기관 내방을 통해 진행하시기 바랍니다. 의학 소견을 나타낸 것이 아니며, 서비스 제공자의 법률적
                        책임이 없음을 알려드립니다. 시의적, 물리적 환경에 따라 변경된 의학적 이견을 가질 수 있으며, 의학적 소견이 상이한 여러 의견을 모두 수렴하지는 않습니다.</p>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <h4>추가 정보</h4>
                    <ul class="fh5co-footer-links">
                        <li>
                            <a href="https://health.kdca.go.kr/healthinfo/biz/health/ccvdInfo/ccvcdInfo/cbvcacdInfoMain.do">질병관리청
                                국가건강정보포털</a></li>
                        <li>
                            <a href="https://www.msdmanuals.com/ko-kr/%ED%99%88/%EB%87%8C,-%EC%B2%99%EC%88%98,-%EC%8B%A0%EA%B2%BD-%EC%9E%A5%EC%95%A0/%EB%87%8C%EC%A1%B8%EC%A4%91-cva/%EB%87%8C%EC%A1%B8%EC%A4%91-%EA%B0%9C%EC%9A%94">MSD
                                매뉴얼 - 일반인용</a></li>
                        <li><a href="https://www.stroke.or.kr/stroke/?doc=3">대한뇌졸중학회</a></li>
                        <li><a href="https://ko.wikipedia.org/wiki/%EB%87%8C%EC%A1%B8%EC%A4%91">위키백과</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <h4>바로가기</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="home">메인 페이지</a></li>
                        <li><a href="checkout">자가 진단</a></li>
                        <li><a href="search-result">결과 확인</a></li>
                        <li><a href="home">서비스 안내</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>문의 정보</h4>
                    <ul class="fh5co-footer-links">
                        <li>순천향대학교 의료IT공학과<br>20185119 이재헌</li>
                        <li>shmom467@hanmail.net</li>
                        <li><a href="http://이재헌.kr">이재헌.kr</a></li>
                        <li>충청남도 아산시 신창면 순천향로 22</li>
                    </ul>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">순천향대학교 의료IT공학과 20185119 이재헌 All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
                            Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                    </p>
                    <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </footer>
    </div><!-- END container -->
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="../static/js/jquery.flexslider-min.js"></script>
<!-- Sticky Kit -->
<script src="../static/js/sticky-kit.min.js"></script>
<!-- Main -->
<script src="../static/js/main.js"></script>

</body>
</html>

